---

---

<didv class="container-zeppelin">
  <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
  <div class="img-zeppelin"></div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
    voluptatum aperiam veritatis dolore debitis. Facilis, neque unde illo
  </p>
</didv>

<style>
  .container-zeppelin {
    width: 100%;
    height: 100%;
    & h1 {
      font-size: 3rem;
      line-height: 1;
      text-align: start;
      font-family: var(--font-family-bodoni);
      font-weight: bold;
      text-align: start;
    }
    & .img-zeppelin {
      height: 250px;
      width: 100%;
      margin-top: 10px;
      border: 2px solid var(--color-black);
      background-image: url("../../../assets/imgs/zeppelin.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    & p {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: bold;
      font-family: var(--font-caslon-antique);
      font-size: 20px;
    }
  }
</style>
