---

---

<div class="bar-header">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<style>
  .bar-header {
    height: 20px;
    & div {
      height: 2px;
      background-color: var(--color-gray-dark-v2);
      margin-top: 1px;
    }
  }
</style>
