---

---

<div class="bar-header">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<style>
  :root {
    --px-20: 20px;
    --px-2: 2px;
    --px-1: 1px;
  }
  .bar-header {
    height: var(--px-20);
    & div {
      height: var(--px-2);
      background-color: var(--color-gray-dark-v2);
      margin-top: var(--px-1);
    }
  }
</style>
