---

---

<div class="sub-header">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum id quis
    dolore aliquam veritatis libero doloribus laudantium dicta nostrum
    repellendus quia ea
  </p>
</div>
<style>
  :root {
    --px-20: 20px;
    --px-5: 5px;
    --px-50: 50px;
  }
  .sub-header {
    position: relative;
    height: var(--px-50);
    margin-top: var(--px-20);
    background-color: var(--color-gray-dark-v2);
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-light-beige);
  }
  .sub-header::after {
    content: "";
    bottom: -10px;
    position: absolute;
    height: var(--px-5);
    width: 100%;
    left: 0;
    background-color: var(--color-gray-dark-v2);
  }
</style>
